<h1>Panamericana</h1>

<div class='tweets'>
    <% @tweets.each do |tweet| %>
      <div class='tweet'>
        <p class='body'><%= tweet.body %></p>
        <p class='email'><%= tweet.user.email %></p>
        <p class='time'><%= distance_of_time_in_words Time.now, tweet.created_at %> ago</p> 
      </div>
    <% end %>
</div>