// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  background-color: #3498db;
  
  .navbar-brand {
    color: #ecf0f1;
  }
}

.navbar-default .navbar-nav {
  li a {
    color: #ecf0f1;
  }
}

.tweet {
  border: 1px solid #95a5a6;
  background-color: #ecf0f1;
  padding: 10px 20px;
  margin-bottom: 10px;
  
  img {
    float: left;
    margin-right: 10px;
  }
  
  .body {
    font-size: 14px;
  }
  
  .email {
    color: #95a5a6;
  }
  
  .time {
    color: #34495e;
  }
}
